@import './base.css';

#app{
  min-width: 1200px;
  height: 100%;
}
.el-breadcrumb{
  margin-bottom: 16px;
}
.el-card{
  box-shadow: 0 1px 1px rgba(0, 0, 0, .1) !important;
}
.el-cascader-menu {
  height: 300px;
}